<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Yurt_Otomasyonu.Properties.Settings.YurtConnectionString"
            connectionString="Data Source=IBRAHIM;Initial Catalog=Yurt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Yurt_Otomasyonu.Properties.Settings.Yurt_OtomasyonuConnectionString"
            connectionString="Data Source=IBRAHIM;Initial Catalog=&quot;Yurt Otomasyonu&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Yurt_Otomasyonu.Properties.Settings.YurtOtomasyonuConnectionString"
            connectionString="Data Source=DESKTOP-L01MAVE;Initial Catalog=YurtOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>